<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin by ZYROUGE</title>
    <%- include("components/head.ejs") %>
</head>
<body>
    <!-- Nav -->
    <%- include("components/nav.ejs", { user }) %>

    <section class="section">
        <div class="container">
            <center>
                <figure class="image">
                    <img src="<%= user._json.avatar_url %> " alt="<% user.username %>" class="is-rounded" id="avatar" style="max-width: 20rem;" />
                </figure>
                <br>
                <h1 class="title is-1"><%= user.displayName %></h1>
                <h4 class="subtitle is-4">@<%= user.username %></h4>
            </center>
            <hr>
            <p class="title is-3">Your Pastes</p>
            <% if (codes && codes.length) { %>
                <div class="row">
                    <% codes.forEach(cobj => { %>
                        <div class="columns">
                            <% cobj.forEach(code => { %>
                                <div class="column">
                                    <div class="box">
                                        <p class="title is-4">
                                            <% if (code.visibility && code.visibility === "private") { %>
                                                <i class="fas fa-lock"></i>
                                            <% } %>
                                            <%= code.title %>
                                        </p>
                                        <p class="subtitle is-6">Code: <strong><%= code.code %></strong></p>
                                        <div class="buttons">
                                            <a href="/p/<%= code.code %>/" class="button is-success">
                                                <p><i class="fas fa-eye"></i> View</p>
                                            </a>
                                            <a href="/paste/<%= code.code %>/edit" class="button is-warning">
                                                <p><i class="fas fa-pencil-alt"></i> Edit</p>
                                            </a>
                                            <a href="/paste/<%= code.code %>/delete" class="button is-danger">
                                                <p><i class="fas fa-trash-alt"></i> Delete</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                    <% }); %>
                </div>
            <% } else { %>
                <p>
                    You don't have any pastes yet. Click <a href="/pastes/new">here</a> to create one!
                </p>     
            <% } %>
        </div>
    </section>
    
    <!-- Footer -->
    <%- include("components/footer.ejs") %>
</body>

<style>

</style>
</html>