<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastebin by ZYROUGE</title>
    <%- include("components/head.ejs") %>
</head>

<body>
    <!-- Nav -->
    <%- include("components/nav.ejs", { user }) %>

    <section class="section">
        <div class="container">
            <h1 class="title is-1">Editing <%= params.code %></h1>
            <h4 class="subtitle is-4">Title: <strong><%= paste.title %></strong></h4>
            <hr>
            <form action="/paste/<%= params.code %>/edit" method="post" name="paste" onsubmit="return validateForm()">
                <div class="field">
                    <label class="label">Visibility</label>
                    <div class="control">
                        <div class="select">
                            <select name="visibility">
                                <% visibility.forEach(visibile => { %>
                                    <option value="<%= visibile %>" <%- visibile === paste.visibility ? ('selected') : "" %>><%= visibile.charAt(0).toUpperCase() + visibile.substr(1).toLowerCase() %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Language</label>
                    <div class="control">
                        <div class="select">
                            <select name="language">
                                <% languages.forEach(lang => { %>
                                    <option value="<%= lang.code %>" <%- lang.language === paste.fullLang.language ? ('selected') : "" %>><%= lang.language %></option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Code</label>
                    <div class="content">
                        <textarea class="textarea" name="code" id="codebox" placeholder="Paste your code here..." rows="10"><%= paste.code %></textarea>
                    </div>
                    <p class="help is-danger invisible" id="codehelp">Code must not be empty</p>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-success">
                            <p><i class="fas fa-check"></i> Edit</p>
                        </button>
                    </div>
                    <div class="control">
                        <a class="button is-danger" href="/">
                            <p><i class="fas fa-times"></i> Dismiss</p>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
    
    <!-- Footer -->
    <%- include("components/footer.ejs") %>
</body>

<script>
    function validateForm() {
        var code = document.forms["paste"]["code"].value;
        if (!code) {
            var codebox = document.getElementById("codebox");
            var codehelp = document.getElementById("codehelp");
            if (codebox) codebox.classList.add("is-danger");
            if(codehelp) codehelp.classList.remove("invisible");
            return false;
        }
    }
</script>

<style>
.invisible {
    display: none;
}
</style>

</html>